* {
	font-family: times, arial, sans-serif;
}


.wrapper{
	width: 630px;
	height: auto;
	margin-left: 20px;
	background-color: black;
}

#main{
	padding-left: 10px;

}
	#main h2{
		font-size: 18pt;
		color: white;
	}

	#main p{
		font-size: 10pt;
		color: white;
		padding-bottom: 10px;
	}

#pics{
	display: inline-block;
	padding: 5px;
	
}	

	#pics img{
		border: gray solid medium;
	}

